@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4 fw-bold text-success">Welcome to Robinhood</h1>
	<p>A place to evaluate and learn about your future courses and professors.</p>
</div>